<div class="columns is-centered is-multiline is-mobile">
  
  <div class="events-list">
    <h1>Photos des évenements passés : </h1>

    <ul>
      {% for post in site.posts %}
        {% assign today = site.time | date: "%Y-%m-%d" %}
        {% assign post_date = post.date-tournoi-technique | date: "%Y-%m-%d" %}
        {% assign is_past = false %}
        {% if post_date < today %}
            {% assign is_past = true %}
        {% endif %}
        {% if is_past %}
        <li class="lien-photos-evenement">
          <a href="{{post.url | absolute_url}}">
            <h1>[{{ post.date-tournoi-technique }}] - {{post.title}}</h1>
            <img class="img-photo-post" src="../{{ post.photos[0] }}" style="width:100%">
          </a>
        </li>
        

        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="separateur-photo">
    <img src="../assets/images/Motif_demi_horizontal.svg"/>
  </div>
  <h1>Autres photos : </h1>

  <div class="container-photo-post">
    {% assign numero_image = 1 %}
    {% for photo in site.data.photos %}
    <div class="mySlides">
      <div class="numbertext-photo-post">{{ numero_image }}</div>
      <img class="img-photo-post" src="../{{ photo }}" style="width:100%">
    </div>
    {% assign numero_image = numero_image | plus: 1 %}
    {% endfor %}

    <a class="prev-photo-post" onclick="plusSlides(-1)">❮</a>
    <a class="next-photo-post" onclick="plusSlides(1)">❯</a>

    <div class="caption-container-photo-post">
      <p id="caption-photo-post"></p>
    </div>

    <div class="row-photo-post">
      {% assign numero_image_small = 1 %}
      {% for photo in site.data.photos %}
      <div class="column-photo-post">
        <img class="demo-photo-post cursor-photo-post" src="../{{ photo }}" style="width:100%"
          onclick="currentSlide({{numero_image_small}})">
      </div>
      {% assign numero_image_small = numero_image_small | plus: 1 %}
      {% endfor %}
    </div>
  </div>

  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("demo");
      let captionText = document.getElementById("caption");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      captionText.innerHTML = dots[slideIndex - 1].alt;
    }
  </script>

</div>