<section class="hero has-text-centered is-black-pcpm-text" id="sponsors">
    <div class="hero-body">
        <div class="container">
            <h1 class="title-with-image-pcpm">
                <img src="../assets/images/Titre_Partenaires.svg"/>
            </h1>
            <div class="content-partenaire">
                <p>C'est avec grand plaisir que nous vous présentons les entreprises de la région qui nous ont fait confiance.</p>
                <p>Voici nos partenaires dans plusieurs secteurs d'activité. <b class="is-red-pcpm-text">Nous les remercions pour leur soutient.</b></p>
            </div>
            <div class="sponsors-cards">
                {% for project in site.data.sponsors %}
                <div class="sponsors-card" style="width: {{project.width}};">
                    <a href="{{project.link | absolute_url}}">
                    <div>
                        <figure class="figure-card-sponsort" >
                            <img src="{{project.image}}" />
                        </figure>
                        <div class="card-content">
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>