<section class="hero is-fullheight has-text-centered is-black-pcpm-text" id="sponsors">
    <div class="hero-body">
        <div class="container">
            <hr class="has-background-black">           
            <h1 class="title-with-image">
                <span class="image-container"></span>
                <span class="text-h1 is-1 is-uppercase has-text-weight-bold title is-size-4-touch">Sponsors</span>
            </h1>
            <hr class="has-background-black">
            <div class="sponsors-cards">
                {% for project in site.data.sponsors %}
                <div class="sponsors-card" style="width: {{project.width}};">
                    <a href="{{project.link | absolute_url}}">
                    <div>
                        <figure class="figure-card" >
                            <img src="{{project.image}}" />
                        </figure>
                        <div class="card-content">
                        <h1 class="title sponsors-card-title has-text-black is-size-4">{{ project.name }}</h1>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>