---
---

@import "main.scss";

@font-face {
    font-family: Europa_CG;
    src: url("ufonts.com_cgeuropabd.ttf") format("opentype");
}

@font-face {
    font-family: Montserrat_Light;
    src: url("Montserrat_Light.otf") format("opentype");
}

@font-face {
    font-family: Montserrat_Bold;
    src: url("Montserrat-Bold.ttf") format("opentype");
}

@font-face {
    font-family: Montserrat_Regular;
    src: url("Montserrat-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Montserrat_SemiBold;
    src: url("Montserrat-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: Montserrat_Medium;
    src: url("Montserrat-Medium.ttf") format("opentype");
}

.is-red-pcpm-text {
    color: #C00418 !important;
}

.is-black-pcpm-text {
    color: #000000 !important;
}

.is-grey-pcpm-text {
    color: #4C4D4A !important;
}

.is-white-pcpm-text {
    color: #ffffff !important;
}

.is-red-pcpm {
    background-color: #C00418 !important;
}

.is-black-pcpm {
    background-color: #000000 !important;
}

.is-grey-pcpm {
    background-color: #4C4D4A !important;
}

.is-font-bold-europa-cg-pcpm {
    font-family: 'Europa_CG';
    font-size: x-large;
}

.is-font-pcpm-Montserrat-bold-large {
    font-family: 'Montserrat_Bold';
    font-size: large;
}

.is-font-pcpm-Montserrat-semibold-large {
    font-family: 'Montserrat_SemiBold';
    font-size: large;
}

.is-font-pcpm-Montserrat-regular-large {
    font-family: 'Montserrat_Regular';
    font-size: large;
}
.is-font-pcpm-Montserrat-regular-x-large {
    font-family: 'Montserrat_Regular';
    font-size: x-large;
}

.is-font-pcpm-Montserrat-regular-small {
    font-family: 'Montserrat_Regular';
    font-size: small;
}

.is-font-pcpm-Montserrat-regular-medium {
    font-family: 'Montserrat_Regular';
    font-size: medium;
}

.is-font-pcpm-Montserrat-regular-x-small {
    font-family: 'Montserrat_Regular';
    font-size: x-small;
}

.is-font-pcpm-europa-cg-xx-large {
    font-family: 'Europa_CG';
    font-size: xx-large;
}

.is-font-pcpm-Montserrat-medium-large {
    font-family: 'Montserrat_Medium';
    font-size: large;
}

#navbar {
    opacity: 0.95;
}

.is-active {
    font-weight: 600;
}

.navbar-dropdown {
    border: none;
    right: 0;
    left: auto;
}

a.navbar-item:hover,
.navbar-link:hover {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;
}

a.navbar-item.is-active {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25) !important;
        color: white;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: rgb(255, 255, 255);
}


#hero {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    &::before {
        background-image: url(../images/background_accueil_avec_logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        opacity: 1;
        content: "";
    }
}
.title {
    margin: auto 0.75rem!important;
}
.subtitle {
    letter-spacing: 0.25rem;
}

#about {
    .image {
        margin: auto;

        img {
            border: 0.25rem dotted black;
        }
    }

    a {
        min-width: 25vmax;
    }
}

#contact {
    #contact-button {
        margin: 0rem !important;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: grey;
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;
        &:focus {
            outline: 0.25rem solid white;
        }

        border: none;
    }
}


#footer {
    #backtotop {
        transition: all 0.25s ease;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: #7a7a7a;

                &:hover {
                    color: white;
                }
            }

            figure {
                border: 1.5px solid white;
                border-radius: 50rem;
                justify-content: center;
                margin: auto;
                transition: all 0.25s ease;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    }

    #credits {
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: white;
        }
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
        transition: all 0.5s ease;
        margin-bottom: 0.5rem !important;
        display: inline-table;
        &:hover {
            transform: scale(0.975);
        }
    }
    .card {
        transition: all 0.25s ease;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.90)!important;
        }
    }
}

#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }
    a {
        text-decoration: underline;
    }
    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
    }
    #post-image {
        border-radius: 0.25rem;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: grey;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;
            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}



// Custom
.sponsors-cards {
    // display: flex;
    // flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;


}

.sponsors-card {
    margin: 1px;
    padding: 20px;
    width: auto;
    height: auto;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

@media (max-width: 1300px) {
    .sponsors-card-title  {
      display: none;
    }
    .sponsors-card {
        width: 100% !important;

    }
    #hero {
        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    
        &::before {
            background-image: url(../images/background_accueil_avec_logo_small.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            position: absolute;
            opacity: 1;
            content: "";
        }
    }
}

.photo-content {
    width: 100%;
}

.img-photo-content {
    width: 100%;
}

.img-member {
    height: 300px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.card {
    margin: 5px;
}


.has-background-black-pcpm {
    background-color: #000000;
}
.has-background-grey-pcpm {
    background-color: #4C4D4A;
}

.has-background-red.card {
    background-color: #C00418;
    height: auto;
    border-radius: 10px;
}

.title-with-image-pcpm {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.title-with-image {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin: 0;
}

.image-container,
.text-h1 {
    position: relative;
    z-index: 1;
}

.image-container {
    position: absolute;
    left: -70px;
    top: 53%;
    transform: translateY(-50%);
    width: 100px;
    height: 30px;
    background: url(../images/h1_image_transparent.png) center/cover;
}

.text-white {
    color:#ffffff;
}

.text-black {
    color:#000000;
}

.navbar-logo {
    margin-right: 10px;
}

.card-content h1 {
    height: 70px;
}
.card-content p {
    height: 40px;
}

.hero-body {
    padding: 0px;
}

.hero-body-about {
    padding: 3rem 1.5rem;
}

.title-event {
    margin-top: 40px;
}

.blog-card-pcpm {
    background-image: url('../images/event_background.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-card-black {
    background-color: black;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.has-text-red {
    color:#C00418;
}

.navbar-item-tournois {
    background-color: #c00418;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-pcpm {
    margin-bottom: 80px;
    margin-top: auto;
}

.bouton-margin-top {
    margin-top: 5px;
}

.background-red {
    background-color: #c00418;
}

.column-mot-du-president {
    margin-top: 0px;
    background-color: #c00418;
    border-radius: 25px 0px 0px 25px;
}

.border-radius-zero {
    border-radius: 0px;
}

.bandeau-pcpm {
    background-color: #c00418; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    width: 100%; /* Largeur totale */
    position: fixed; /* Fixe le bandeau en haut */
    top: 0; /* Position en haut */
    left: 0; /* Position à gauche */
    z-index: 1000; /* Indice de profondeur pour s'assurer que le bandeau est au-dessus du reste du contenu */
    height: 20px;
    text-align: center;
}

.navbar.is-fixed-top {
    top: 20px;
}

.title-mot-du-president {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}
.content-mot-du-president {
    padding-left: 30px;
    padding-right: 30px;
}

.contact-a:hover {
    color: white;
}

section#sponsors {
    padding-bottom: 50px;
    padding-top: 50px;
}

section#contact {
    padding-bottom: 50px;
    padding-top: 50px;
}

.container-pcpm-other {
    top: 50px;
    margin-top: 0px !important;
    margin-bottom: 70px !important;
}

div#results-container {
    margin-top: 40px;
}

.motif-horizontal{
    margin-top: -6px;
}

.division-asso-bureau {
    text-align: right;
}

.image-division-asso-bureau {
    margin-right: 15%;
}

.hr-mot-du-president {
    height: 8px;
    margin-left: -25px;
    width: 33%;
}

.iframe-tournoi{
    width: 100%;
    height: 700px;
}

.img-member-svg {
    width: 200px;
    margin-bottom: 15px;
}

.content-partenaire {
    text-align: justify;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.container-post {
    margin-top: 80px;
}

.navbar-item-post-link {
    background-color: #c00418;
    text-align: center;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: large;
    display: inline-block;
}

.navbar-item-post-link-div {
    width: 100%;
}

.div-titre-banque-iframe {
    width: 100%;
}

.titre-banque-iframe  {
    max-width: 800px;
}

.button-association {
    border: none;
}

.titre-page-supplementaire{
    text-align: center;
    margin-bottom: 20px;
    max-width: 400px;
}

.titre-page-reglements {
    text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
}

.image-titre-page-supplementaire {
    width: 100%;
}
.affiche {
    margin-top: 40px;
    margin-bottom: 40px;
}

.affiche-image {
    max-height: 500px;
    border-radius: 10%;
}

.blog-card-pcpm-past {
    filter: grayscale(1);
}


/* Position the image container (needed to position the left and right arrows) */
.container-photo-post {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor-photo-post {
    cursor: pointer;
}

/* Next & previous buttons */
.prev-photo-post, .next-photo-post {
    cursor: pointer;
    position: absolute;
    top: 100px;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next-photo-post {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev-photo-post {
    left: 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-photo-post:hover,
.next-photo-post:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext-photo-post {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container-photo-post {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row-photo-post:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column-photo-post {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo-photo-post {
    opacity: 0.6;
}

.active, .demo-photo-post:hover {
    opacity: 1;
}

.img-photo-post {
    max-width: 100%;
    max-height: 600px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    height: auto;
    object-fit: contain;
}


.separateur-photo {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.events-list {
    margin: 50px auto;
    padding: 20px;
}

.events-list ul {
    list-style-type: disclosure-closed; /* Définit le type de puce à disque */
    padding-left: 20px; /* Ajoute un espace pour afficher les puces */
}


.events-list li {
    margin: 10px 0;
}

.events-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

.events-list a:hover {
    text-decoration: underline;
}