---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div class="bandeau-pcpm is-font-pcpm-Montserrat-regular-x-small">
        <p><a href={{site.message-bandeau.lien}} style="color: white; text-decoration: underline;">{{site.message-bandeau.text}}</a></p>
    </div>
    
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered container-pcpm-other">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">

                    </p>
                    <h1 class="title-with-image-pcpm titre-page-supplementaire">
                        <img class="image-titre-page-supplementaire" src="../assets/images/Titre_boutique.svg"/>
                    </h1>
                    
                    <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet">
                        <p>{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>