---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% if site.message-bandeau %}
        {% if site.message-bandeau.text %}
        <div class="bandeau-pcpm is-font-pcpm-Montserrat-regular-x-small">
            {% if site.message-bandeau.lien %}
            <p><a href={{site.message-bandeau.lien}} class="message-bandeau-text">{{site.message-bandeau.text}}</a></p>
            {% else %}
            <p style="color: white; padding-top: 3px;">{{site.message-bandeau.text}}</p>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered" id="page-section">
                <div class="section">
                    <h1 class="title-with-image">
                        <span class="image-container"></span>
                        <span class="text-h1 is-1 is-uppercase has-text-weight-bold title is-size-4-touch">{{page.title}}</span>
                    </h1>
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>