---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  <div class="bandeau-pcpm is-font-pcpm-Montserrat-regular-x-small">
    <p><a href={{site.message-bandeau.lien}} style="color: white; text-decoration: underline;">{{site.message-bandeau.text}}</a></p>
  </div>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body container-post">
      <div class="container ">
        <!--
        <div class="title-event">
          <a href="{{page.url | relative_url}}" class="has-text-black" id="title">
            <h1 class="title-with-image">
              <span class="image-container"></span>
              <span class="text-h1 is-1 is-uppercase has-text-weight-bold title is-size-4-touch text-black">{{page.title}}</span>
            </h1>
          </a>
        </div>
        <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter">Date de l'événement : <b>{{ page.dateTournoi }}</b></p>

        <hr class="has-background-black">
        -->
        <div class="columns is-variable is-5">
          <div class="column is-5">
            <figure class="image is-16by9 has-shadow">
              <img src="{{page.post-image}}" alt="{{post.title}}" id="post-image">
            </figure>
          </div>
          <div class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
            {% unless page.description.size == 0 %}
            <p id="description" class="content has-text-weight-large is-uppercase is-font-pcpm-Montserrat-semibold-large has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet">{{page.description | strip | strip_html | strip_newlines }}</p>
            {% endunless %}
            </br>
            <p id="dateTournoi" class="content has-text-weight-large is-font-pcpm-Montserrat-semibold-xlarge has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet">Date : {{page.dateTournoi | strip | strip_html | strip_newlines }}</p>
            <p id="lieuTournoi" class="content has-text-weight-large is-font-pcpm-Montserrat-semibold-xlarge has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet">Lieu : {{page.lieu | strip | strip_html | strip_newlines }}</p>
            {% unless page.description-suite.size == 0 %}
            </br>
            <p id="description" class="content has-text-weight-large is-font-pcpm-Montserrat-semibold-large has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet">{{page.description-suite | strip | strip_html | strip_newlines }}</p>
            {% endunless %}
            <!--
            {%- assign tags = page.tags -%}
            {%- unless tags.size == 0 -%}
            <p class="subtitle is-uppercase">
              <i class="fas fa-tags"></i>
              {% assign i = 0 %}
              {% for tags in page.tags %}
              <span class="tag is-link">{{page.tags[i]}}</span>
              {% assign i = i | plus:1 %}
              {% endfor %}
            </p>
            {%- endunless -%}
            {% assign words = content | number_of_words %}
            -->
            <!--{%- unless content.size == 0 -%}
            <p class="subtitle is-uppercase"><i class="fas fa-clock"></i> <b class="has-text-link">
                {{ words | divided_by:180 }} min
              </b>de Lecture</p>
            {%- endunless -%} -->
          </div>
        </div>
        <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>

        {%- if page.lien-banque-iframe and page.lien-banque-iframe != "" and page.lien-banque-iframe != nil -%}
        <div class="div-titre-banque-iframe" >
          <img class="titre-banque-iframe" src="../{{ page.titre-banque-iframe }}"/>
        </div>
        <i>{{ page.description-banque-iframe }}</i>
        <iframe class="iframe-tournoi" src="{{ page.lien-banque-iframe }}"></iframe>
        </br>
        <i>Si vous préférez, vous pouvez directement accéder au formulaire d'inscription en cliquant <a href="{{ page.lien-banque-iframe }}">ici</a>.</i>
      </br>
      
      {%- endif -%}
      {%- if page.lien-banque-unique and page.lien-banque-unique != "" and page.lien-banque-unique != nil -%}

      <div class="navbar-item-post-link-div">
        <a class="is-white-pcpm-text is-font-pcpm-Montserrat-bold-large {% if page.layout == 'blog' %}is-active{% endif %}"
        href="{{ page.lien-banque-unique }}">
            <div class="navbar-item-post-link is-uppercase">
                 > INSCRIPTION ICI <
            </div>
        </a>
      </div>
      {%- endif -%}

        {% unless site.disqus-shortname == "" %}
        <div class="disqus-comments" id="disqus_thread"></div>
        {% endunless %}
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function () { /* DON'T EDIT BELOW THIS LINE */
    var d = document,
      s = d.createElement('script');
    s.src = 'https://{{site.disqus-shortname}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

</html>
