---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% if site.message-bandeau.text %}
    <div class="bandeau-pcpm is-font-pcpm-Montserrat-regular-x-small">
        {% if site.message-bandeau.lien %}
        <p><a href={{site.message-bandeau.lien}} style="color: white; text-decoration: underline;">{{site.message-bandeau.text}}</a></p>
        {% else %}
        <p style="color: white; padding-top: 3px;">{{site.message-bandeau.text}}</p>
        {% endif %}
    </div>
    {% endif %}
    
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered container-pcpm-other">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">

                    </p>
                    <div>
                        <h1 class="title-with-image-pcpm titre-page-reglements">
                            <img class="image-titre-page-supplementaire" src="../assets/images/Titre_Reglements_et_regles.svg"/>
                        </h1>
                    </div>
                    <a href="{{site.url}}{{site.baseurl}}/reglements#interieur"
                        class="button button-association is-uppercase has-text-weight-normal has-background-black-pcpm is-white-pcpm-text border-radius-zero">Règlement intérieur</a>
                    </a>
                    <a href="{{site.url}}{{site.baseurl}}/reglements#croupier"
                        class="button button-association is-uppercase has-text-weight-normal has-background-black-pcpm is-white-pcpm-text border-radius-zero">Règlement du tournoi sans croupier</a>
                    </a>
                    <a href="{{site.url}}{{site.baseurl}}/reglements#texas_holdem"
                        class="button button-association is-uppercase has-text-weight-normal has-background-black-pcpm is-white-pcpm-text border-radius-zero">Règlement du texas hold'em</a>
                    </a>
                    <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet">
                        <p>{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>